/*  full section */
.why {
  background-color: #f3f4f6;
  padding: 80px 20px;
}

/* container */
.why__container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* section title */
.why__title {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 60px;
}

/* network cards */
.why__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* cards */
.why__card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 18px;
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.04);
}

/* hover effect */
.why__card:hover {
  transform: translateY(-6px);
}

/* icon circle */
.why__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* icons color   */
.icon-yellow {
  background-color: #ffb804;
}

.icon-blue {
  background-color: #2563eb;
}

.icon-green {
  background-color: #16a34a;
}

/* card title */
.why__card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #111827;
}

/* card description */
.why__card p {
  font-size: 15px;
  color: #6b7280;
}

    /* highlight text  */
.highlight {
  background: #e5e7eb;
  padding: 4px 8px;
  border-radius: 6px;
}


/*       RESPONSIVE          */


@media (max-width: 768px) {

  .why {
    padding: 70px 20px;
  }

  .why__title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .why__grid {
    grid-template-columns: 1fr;
    gap: 28px;
  }

  .why__card {
    padding: 50px 25px;
    border-radius: 22px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.03);
  }

  .why__icon {
    width: 85px;
    height: 85px;
    margin-bottom: 25px;
  }

  .why__card h3 {
    font-size: 22px;
  }

  .why__card p {
    font-size: 16px;
  }
}